@import "_variables"
@import "_colors/" + $colors
@import "_util"
@import "_mixins"
@import "_extend"
@import "_fonts"

global-reset()

*, *:before, *:after
  box-sizing: border-box

/* Scroll bar */
/* For Firefox */
*
  scrollbar-color: $color-scrollbar transparent

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar
  width: 8px
  height: 6px

*::-webkit-scrollbar-track
  background: transparent

*::-webkit-scrollbar-thumb
  background-color: $color-scrollbar
  border-radius: 6px

*::-webkit-scrollbar-thumb:hover
  background-color: darken($color-scrollbar, 20%)

*::-webkit-scrollbar-thumb:active
  background-color: darken($color-scrollbar, 30%)

html
  margin: 0
  padding: 0
  height: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0
  height: 100%
  background-color: $color-background
  color: $color-text
  font-display: swap // @stylint ignore
  font-weight: 400
  font-size: $font-size
  font-family: $font-family-body
  line-height: $line-height
  text-rendering: geometricPrecision
  flex: 1

  antialias()

  @extend $base-style

.content
  position: relative
  display: flex
  flex-direction: column
  min-height: 100%
  overflow-wrap: break-word

  p
    hyphens(auto)

  code
    hyphens(manual)

  a
    color: $color-link
    text-decoration: none

    underline(5px, $color-text)

    &:hover
      background-image: linear-gradient(transparent, transparent 4px, $color-link 4px, $color-link)

  a.icon
    background: none

    &:hover
      color: $color-link

  h1 a, .h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
    background: none
    color: inherit
    text-decoration: none

  h1 a:hover, .h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
    underline(6px, $color-link)

  h6
    a
      background: none
      color: inherit
      text-decoration: none

  h6
    a:hover
      underline(6px, $color-link)

@media (min-width: 540px)
  .image-wrap
    flex-direction: row
    margin-bottom: 2rem

    .image-block
      flex: 1 0 35%
      margin-right: 2rem

    p
      flex: 1 0 65%

.max-width
  max-width: $page-width

@media (max-width: 480px)
  // smaller margins at smaller screen widths
  .px3
    padding-right: 1rem
    padding-left: 1rem

  .my4
    margin-top: 2rem
    margin-bottom: 2rem

@import "_partial/header"
@import "_partial/post/actions_desktop"
@import "_partial/post/actions_mobile"
@import "_partial/index"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/comments"
@import "_partial/footer"
@import "_partial/pagination"
@import "_partial/search"
@import "_partial/tags"
@import "_partial/tooltip"
@import "_partial/categories"
// Code
@import "_highlight/" + $highlight

pre
  overflow-x: auto
  padding: 10px 15px
  padding-bottom: 0
  border: 1px dotted $color-border
  border-radius: 4px
  font-size: 13px
  font-family: $font-family-mono
  line-height: 22px
  -webkit-border-radius: 4px

  code
    display: block
    padding: 0
    border: none

code
  padding: 0 5px
  border: 1px dotted $color-border
  font-family: $font-family-mono
  border-radius: 2px
  -webkit-border-radius: 2px

.highlight
  overflow-x: auto
  margin: 1rem 0
  padding: 10px 15px
  border-radius: 4px
  background: $color-background-code
  font-family: $font-family-mono
  // color: $color-accent-3
  -webkit-border-radius: 4px

  figcaption
    margin: -5px 0 5px
    color: $color-meta-code
    font-size: .9em
    transform: scale(1)

    a
      float: right
      color: $color-meta-code
      font-style: italic
      font-size: .8em

      underline(10px, $color-link)

    a:hover
      color: lighten($color-meta-code, 20%)

    &:before, content: ""
      display: table

    &:after
      clear: both

  &:hover 
    .btn-copy
      opacity: 1

  .btn-copy
    font-size: 1.2rem
    position: absolute
    right: 20px
    opacity: 0
    transition: opacity 0.2s ease-in
    &:hover
      color: $color-accent-1

  pre
    margin: 0
    padding: 0
    border: none
    background: none

  table
    width: auto

  td.gutter
    text-align: right
    opacity: .2
    width: 2%

  .line
    height: 22px

.box
  border: 1px solid lighten($color-background, 2.5%)
  border-radius: 5px
  background-color: lighten($color-background, 2.5%)
  padding: 1rem
  font-size: 90%
  text-align: center
  margin: 1rem 0

.text-warning 
  border: 1px solid #481219
  border-radius: 5px
  background-color: #481219
  padding: 1rem
  font-size: 90%
  text-align: center

.text-info
  border: 1px solid lighten($color-background, 10%)
  border-radius: 5px
  background-color: lighten($color-background, 10%)
  padding: 1rem
  font-size: 90%
  text-align: center
  margin: 1rem 0

.no-highlight
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none

.flex-container
  display flex
  justify-content center
  align-items center
  flex-direction column
  gap 1rem

.flex-container-even
  display flex
  gap: 1rem

.flex-container-even > * {
  flex-basis: 100%
}

@media (min-width: 700px)
  .flex-container
    display flex
    justify-content center
    align-items center
    flex-direction row

.diff-highlight-add
  background-color rgba(233, 211, 182, .05)
  margin 0
  width 100%
  display inline-block

.diff-highlight-del
  background-color rgba(255,0,0,.05)
  margin 0
  width 100%
  display inline-block

.code-highlight
  background-color rgba(255,255,0,.05)
  margin 0
  width 100%
  display inline-block

.skip-highlight
  background-color lighten($color-background, 10%)
  margin 0
  width 100%
  border-radius 5px
  text-align center
  font-size 9px
  display inline-block
  margin 1rem 0

img
  border-radius 5px

tbody
  width 100%

.subtitle
  text-align center
  font-size 9px
  margin 0.3rem 0

.challenge
  border-radius 5px
  overflow hidden
  margin 1rem 0

.challenge-title
  border 1px solid darken($color-background, 30%)
  background-color darken($color-background, 30%)
  padding 0.8rem 1.5rem

.challenge-info
  border 1px solid lighten($color-background, 2.5%)
  background-color lighten($color-background, 2.5%)
  padding 1rem 1.5rem
  font-size 80%

.challenge-description
  border 1px solid lighten($color-background, 5%)
  background-color lighten($color-background, 5%)
  padding 1rem
  font-size 85%
  text-align center
  flex 1

.center-align
  position relative
  top 50%
  transform translateY(-50%)

body h2.chal-title
  font-size 18px
  font-weight bold
  margin 0
  text-decoration none

body h3.chal-title
  font-size 18px
  font-weight bold
  margin 0
  text-decoration none

article .content h2.chal-title:before
  content: ""

.card-grid
    display grid
    grid-template-columns repeat(3, minmax(0, 1fr))
    margin auto
    transition transform 1s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1), top 1s cubic-bezier(0.86, 0, 0.07, 1)

.card-grid-2
    display grid
    grid-template-columns repeat(2, minmax(0, 1fr))
    gap 1rem
    .card
        margin 0

.card
    overflow hidden
    border-radius 16px
    background-color: lighten($color-background, 2.5%)
    margin-bottom 2rem
    transition all 200ms ease

    .cover-img
        overflow hidden
        height 200px
        img
            width 100%
            height 100%
            object-fit cover
            filter brightness(1)
            transition transform 400ms cubic-bezier(0.4, 0, 0.25, 1), filter 400ms cubic-bezier(0.4, 0, 0.25, 1)
    &:hover
        .cover-img
            img
                transform scale(1.03)
                filter brightness(0.85)
    .contents
        padding 16px
    .title
        color #FFF
        font-weight bold
        font-size 20px
        text-decoration none
        padding 0
        margin 0
    .description
        font-size 12px
        padding 0
        margin 0
    .actions
        padding 16px
        padding-top 0
        display flex
        .left
            display flex
            gap 5px
            justify-content flex-start
        .right
            display flex
            margin-left auto
            justify-content flex-end

.actions
    .action-button-primary
        background-color $color-accent-1
        color #000
        padding 6px 12px
        border-radius 32px
        text-decoration none
        transition 0.5s
        margin-left 3px

.actions .action-button-primary:hover {
    background-color darken($color-accent-1, 10%)
}

.badge
    --color var(--link)
    border 2px solid var(--color)
    color var(--color)
    padding 4px 12px
    border-radius 32px
    text-decoration none
    &.gold
        --color #C9B037
    &.silver
        --color #D7D7D7
    &.bronze
        --color #B69D85
    &.blue
        --color #51A3A3
    &.lightblue
        --color #A3C4BC
    &.red
        --color #FF6B6B
    &.darkblue
        --color #2274A5
    &.brown
        --color #826754
    &.darkbrown
        --color #634E40
    &.other
        --color $color-accent-1

.container
    margin-top 1rem

@media screen and (max-width: 850px)
    .card-grid
    .card-grid-2
        grid-template-columns repeat(2, minmax(0, 1fr))
            
@media screen and (max-width: 700px)
    .actions
        flex-direction column
    .right
        margin-left 0!important
        justify-content flex-start!important
        margin-top 10px

@media screen and (max-width: 600px)
    .card-grid
    .card-grid-2
        display block
        padding 0
        .card
            margin-bottom 1rem
    .actions
    .left
        flex-direction row
    .right
        margin-left auto!important
        justify-content flex-end!important
        margin-top 0!important

.title .fa-solid
    color: #E9D3B6