<% if(post.title) { %>
    <% let [categories, title] = post.title.split(":"); %>
    <% let ctfName, ctfCategory; %>
    <% if (categories.includes("/")) { %>
        <% [ctfName, ctfCategory] = categories.split("/"); %>
    <% } %>
    <div class="category-column"><%= categories %></div>
    <span><a href="<%- url_for(post.path) %>"><%= title %></a></span>
<% } %>