$color-background = #111
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #908d8d
$color-scrollbar = #e9d3b6
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = #e9d3b6
$color-text = #c9cacc
$color-accent-3 = #ccc
$color-accent-2 = #eee
$color-accent-1 = #e9d3b6
$color-quote = #e9d3b6
$highlight = hexo-config("highlight") || "rainbow"
